<table>
	<tr><td>
  		<b>Code:</b><br />
  		<%= @codes_dsm.code %>
	</td><td>
  		<b>Category:</b><br />
  		<%= @codes_dsm.category %>
	</td></tr>
	<tr><td>
		<b>Short description:</b><br />
  		<%= @codes_dsm.short_description %>
	</td></tr>
</table><br />
<b>Long description:</b><br />
<%= @codes_dsm.long_description %>
