<div class = 'sidebar'>	
	<%= link_to 'New Note', new_polymorphic_path([@noteable, :note]), :class => 'new_button' %>
	<% if @newedit %>
		<%= link_to 'Back to Notes', polymorphic_path([@noteable, :notes]) %>
	<% end %>
	<%= link_to 'Back to ' + @name.titleize, polymorphic_path(@noteable) %>
	<br />
</div>