<table>
	<tr><td>
		<b>Code:</b><br />
  		<%= @codes_icd9.code %>	
	</td></tr>
	<tr><td>
		<b>Short description:</b><br />
  		<%= @codes_icd9.short_description %>
	</td></tr>
</table>
<b>Long description:</b><br />
<%= @codes_icd9.long_description %>
