<div class = 'sidebar'>	
	<%= link_to "New CPT Code", new_codes_cpt_path %>
	<% if @show %>
		<%= link_to 'Back to CPT Codes', codes_cpts_path %>
	<% end %>
	<%= link_to "Back to Maintenance", maint_index_path %>
</div>