
<p>
  <b>Code:</b><br />
  <%= @codes_cpt.code %>
</p>

<p>
  <b>Long description:</b><br />
  <%= @codes_cpt.long_description %>
</p>

<p>
  <b>Short description:</b><br />
  <%= @codes_cpt.short_description %>
</p>

