<section class='form'>
	<%= form_tag reporting_ajax_category_path, :remote => true, :id => 'reporting_category' do %>
		<div id="category_field">
			Select Category:<br />
		 	<%= select_tag :category, options_for_select(@category),
		 	    {:include_blank => true, :id => 'reporting_category_id', :class => 'select_tag'} %>
		</div>
	<% end %>
	<div class='report_item'>
        <%= render 'index_item_form' %>
    </div>
	<br />
	<b>Description:</b><br />
    <div id='description'></div>
</section>
<section class='report_form'>
    <b>Filter Criteria:</b>
    <br />
    <div id='filter_criteria'></div>
</section>
