<div class = 'sidebar'>
	<%= link_to "Session Notes", insurance_session_notes_path(@insurance_session) %>
	<%= link_to "Return to Sessions", insurance_sessions_path %>
	<%= link_to "Return to Patient", patient_path(@insurance_session.patient_id) %>
	<br /><br />

</div>