<div class = 'sidebar'>	
	<div class = 'sidebar'>	
	<%= link_to "New POS Code", new_codes_pos_path %>
		<% if @show %>
		<%= link_to "Edit Code", edit_codes_pos_path(:id => @codes_po.id) %>		
	<% end %>
	<% if @show || @newedit %>
		<%= link_to "Back to Codes", codes_pos_index_path %>
	<% end %>
	<%= link_to "Back to Maintenance", maint_index_path %>
</div>
</div>