// Place all the styles related to the BalanceBillsReceive controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.balance_bill_payments{

  .dollar { width: 100px; }
  th { text-align: center;}
  td { text-align: center;}
  td.amt{text-align: right;}
  section{ padding: 10px 10px 10px 10px; }

  .show{
    section{height: 130px;}
    .button{
      padding-top: 15px;
      padding-left: 15px;
      }
    .submit{ width: 65px; }
    .left{ width: 50%;}
    .right{ width: 50%;}

    .disposition{ width: 100px}
    .date{ width: 100px;}
    .amount {width: 75px;}
  }
  .form{
    position: relative;
    height: 50px;
    #date{
      position: absolute;
      left: 10px;
    }
    #method{
      position: absolute;
      left: 170px;
    }
    #check{
      position: absolute;
      left: 270px;
    }
    .check_number{ width: 100px; }
    #amount{
      position: absolute;
      left: 400px;
    }


  }
}