// Place all the styles related to the BalanceBillSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.balance_bill_sessions{

  .dollar { width: 100px; }
  .session { height: 80px; }

  .balance_form_header{
    position: relative;
    height: 40px;
    #status{
      position: absolute;
      top: 15px;
      left: 10px;}
    #total_amount{
      position: absolute;
      top: 15px;
      left: 50px;
    }
    #payment_amount{
      position: absolute;
      top: 15px;
      left: 200px;
    }
  }

  .detail{
    padding-left: 30px;
    padding-bottom: 15px;
  }

  .description {width: 350px; }
  .quantity{ width: 75px; }
  .amount{ width: 100px; }

  .claim{
    position: relative;
    padding: 5px 5px 5px 5px;
    overflow: auto;

    .right{
      width: 175px;
    }
    .top{
      position: relative;
      min-height: 75px;

      #subscriber{
        position: absolute;
        top: 10px;
        left: 0px;
      }
      #billed{
        position: absolute;
        top: 10px;
        left: 160px;
      }
      #paid{
        position: absolute;
        top: 10px;
        left: 275px;
      }
      #ein_selected{
        position: absolute;
        top: 10px;
        left: 300px;
      }
      #ein_tip{
        position: absolute;
        top: 30px;
        left: 435px;
      }
    }

  }

}