// Place all the styles related to the insurance_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.insurance_sessions {

  .index_form {
    position: relative;
    height: 50px;
    margin-right: 70px;
    
    .select_tag{
      min-width: 150px;
      max-width: 190px;
    }    
    #group_field {
      position: absolute;
      top: 0px;
    }    
    #provider_field {
      position: absolute;
      top: 0px;
      left: 200px;
    }    
    #patient_field {
      position: absolute;
      top: 0px;
      left: 400px;
    }    
    #menu_field{
      position: absolute;
      top: 10px;
      left: 600px;      
    }
  }
  
  .edit_form{
    .select_tag{
      width: 175px;      
    }
    .select_data{
        width: 125px;
    }
    .dollar{
      width: 75px;
    }
    .session{
      position: relative;
      height: 230px;
      border: 1px lightgray solid;
      
      #date_service_field{
        position: absolute;
        top: 0px;
        left: 10px;    
      }
      #group_select_field {
        position: absolute;
        top: 0px;
        left: 210px;
      }
      #provider_select_field {
        position: absolute;
        top: 0px;
        left: 400px;
      }               
      #radio_field{
        position: absolute;
        top: 65px;
        left: 250px;        
      }
      #patient_office{
        position: absolute;
        top: 110px;
        left: 10px;
      }
      #billing_office{
        position: absolute;
        top: 110px;
        left: 200px;
      }
      #patient_pos{
        position: absolute;
        top: 55px;
        left: 10px;                
      }
      #patient_injury{
        position: absolute;
        top: 165px;
        left: 10px;              
      }
      #charges{
        position: absolute;
        top: 170px;
        left: 10px;                

      }
      #copay{
        position: absolute;
        top: 165px;
        left: 305px;
      }
      #additional{
        position: absolute;
        top: 170px;
        left: 210px;
      }
      #waived{
        position: absolute;
        top: 170px;
        left: 310px;
      }
      #interest{
        position: absolute;
        top: 170px;
        left: 410px;
      }
      #owed{
        position: absolute;
        top: 170px;
        left: 510px;
      }
    }
    
  }
}