// Place all the styles related to the ManagedCares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.managed_cares {
   .field{ width: 75px; }
   .dollar{ width: 100px; }

  .auth { width: 125px; }
  .date{ width: 75px; }
  .subscriber{ 
    width: 125px;
    text-align: center;
  }
  .insurance{
    width: 125px;
    text-align: center;
  }
  
  .form{
    position: relative;
    height: 320px;
    
    #subscriber{
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .select{ width: 125px; }
    #start_date{
      position: absolute;
      top: 115px;
      left: 10px;
    }
    #end_date{
      position: absolute;
      top: 115px;
      left: 160px;
    }
    #active{
      position: absolute;
      top: 67px;
      left: 10px;
    }
    #cob{
      position: absolute;
      top: 92px;
      left: 10px;
    }
    #authorization{
      position: absolute;
      top: 10px;
      left: 160px;
    }
    #auth_sessions{
      position: absolute;
      top: 175px;
      left: 10px;
    }
    #auth_units{
      position: absolute;
      top: 175px;
      left: 110px;
    }
    #auth_charges{
      position: absolute;
      top: 175px;
      left: 210px;
    }
    #copay{
      position: absolute;
      top: 230px;
      left: 10px;
    }
    #provider{
      position: absolute;
      top: 230px;
      left: 145px;
    }
    #group{
      position: absolute;
      top: 230px;
      left: 295px;
    }
    .button{
      position: absolute;
      top: 290px;
      left: 10px;

    }
  }
  table th{ 
    width: 50px;
    text-align: center;
  }
  table td { text-align: center; }


  .show{
    position: relative;
    height: 250px;

    #authorization{
      position: absolute;
      top: 10px;
      left: 10px;
    }
    #copay{
      position: absolute;
      top: 10px;
      left: 300px;
    }    
    #status{
      position: absolute;
      top: 50px;
      left: 10px;
    }    
    #start_date{
      position: absolute;
      top: 50px;
      left: 100px;
    }
    #end_date{
      position: absolute;
      top: 50px;
      left: 200px;
    }
    table{
      position: absolute;
      top: 90px;
      left: 10px;
    }
    #provider{
      position: absolute;
      top: 190px;
      left: 10px;
    }
    #group{
      position: absolute;
      top: 190px;
      left: 150px;
    }
    #supress{
      position: absolute;
      top: 190px;
      left: 300px;
    }
  .right_justify{ text-align: right; }
  }
}